<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geolocalización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Obtener mi ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="getCurrentPosition()">
        Obtener Ubicación
      </ion-button>
      <div *ngIf="latitude && longitude">
        <p><strong>Latitud:</strong> {{ latitude }}</p>
        <p><strong>Longitud:</strong> {{ longitude }}</p>
        <ion-button expand="block" (click)="copyToClipboard()">
          Copiar Coordenadas
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

